<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">
	<title>List</title>

	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="../../socket.io/socket.io.js"></script>	    


</head>
<body id="body">
</body>
	<script>
	  var array = [];
	  io = io.connect()
	  io.emit("list")
	  io.on("Listarray", function(data){
	  array = data.doc
	  page = "";
	  for (x=0; x < array.length; x++){
		page += "<li> Name: " + array[x].teamname + 
			", House: " + array[x].house +
			" , Round 1: " + array[x].r1 +
			" , Round 2: " + array[x].r2 +
			" , Round 3: " + array[x].r3 +
			" , Round 4: " + array[x].r4 +
			" , Round 5: " + array[x].r5 +
			" , Round 6: " + array[x].r6 +
			"</li>";
}

	  document.getElementById('body').innerHTML = page;
});
	</script>

</html>
