<!DOCTYPE html>
<html>
<head>
  <title>Team Raffle!</title>
  <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="container">
    <form id="" method="post" action="/raffle">
      <h1>Raffle</h1>
      <select id="room" name="room">
	<option>Main Hall</option>
	<option>Sports Hall</option>
	<option>Drama Studio</option>
	</select>
      <input id="submit" type="submit" value="Draw!" />
      </form>
    <div id="winner">
      <h2>{{Raffle}}</h2>
      </div>   
    </div>
</body>
</html>
