<!DOCTYPE html>
<html>
<head>
	<title>Team Raffle!</title>
</head>

<body>
	<h1>Raffle</h1>
	<select>
		<option>Sports Hall</option>
		<option>Main Hall</option>
		<option>Drama Studio</option>
	</select>
	<h2>Winner: </h2><span class="winningTeam">{{Raffle}}</span>
	<form method="post" action="/raffle">
	<input type="submit" value="Draw!" />
	</form>
</body>
</html>
