<!DOCTYPE html>
<html>
<head>
	<title>Team Raffle!</title>
</head>

<body>
	<h1>Raffle</h1>
		<form method="post" action="/raffle">

	<select name="room">
		<option>Sports Hall</option>
		<option>Main Hall</option>
		<option>Drama Studio</option>
	</select>
	<input type="submit" value="Draw!" />
	</form>
	<h2>Winner: </h2><span class="winningTeam">{{Raffle}}</span>

</body>
</html>
