<html>
<head>
    <title>Bourne Grammar School Quiz</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="components/paper-toggle-button/paper-toggle-button.html">
    <link rel="import" href="components/paper-radio-button/paper-radio-button.html">
    <link rel="import" href="components/paper-radio-group/paper-radio-group.html">
    <link rel="import" href="components/paper-button/paper-button.html">
    <link rel="import" href="components/core-splitter/core-splitter.html">
    <link rel="import" href="components/font-roboto/roboto.html">
    <script src="socket.io/socket.io.js"></script>
    <script>
         io = io.connect()
         io.emit('ready')
    </script>
</head>
<body unresolved>
	<div id="lightbox">
		<div id="settings">
		<h1>Configuration</h1>
		<h2>Which houses would you like to see totals for?</h2>
		<ul id="houseToggles">
			<li><h3>Behn: </h3><paper-toggle-button class="behnToggle houseToggle"></paper-toggle-button></li>
			<li><h3>Meitner: </h3><paper-toggle-button class="meitnerToggle houseToggle"></paper-toggle-button></li>
			<li><h3>Rorschach:</h3><paper-toggle-button class="rorschachToggle houseToggle"></paper-toggle-button></li>
			<li><h3>Tinbergen: </h3><paper-toggle-button class="tinbergenToggle houseToggle"></paper-toggle-button></li>
		</ul>
		<h2>Which room are you in?</h2>
		<paper-radio-group>
			<paper-radio-button class="roomRadio" label="Drama Studio"></paper-radio-button>
			<paper-radio-button class="roomRadio" label="Main Hall"></paper-radio-button>
			<paper-radio-button class="roomRadio" label="Sports Hall"></paper-radio-button>
		</paper-radio-group>
		<paper-button class="saveButton" raised>Save Settings</paper-button>
		</div>
	</div>
	<div id="main">
		<div id="leaderboard">
      			<ul id="teams">
          			<!-- dynamically load teams here -->
		 	</ul>
  		</div>
		<div id="scores">
			<div class="behn" id="Behn">
				<div class="score-container">
            				<img src="images/behn.png">
            				<h2 class="BehnScore"></h2>
		  		</div>
    			</div>
     			<div class="meitner" id="Meitner">
		    		<div class="score-container">
            				<img src="images/meitner.png">
            				<h2 class="MeitnerScore"><h2>
        			</div>
			</div>
    			<div class="rorschach" id="Rorschach">
        			<div class="score-container">
          				<img src="images/rorschach.png">
           				<h2 class="RorschachScore"><h2>
		    		</div>
    			</div>
    			<div class="tinbergen" id="Tinbergen">
        			<div class="score-container">
			      		<img src="images/tinbergen.png">
            				<h2 class="TinbergenScore"><h2>
        			</div>
			</div>
    	  	</div>
	  	<div id="video">
          		<iframe src="http://www.youtube-nocookie.com/embed/lU69KPAiybo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
    		</div>
	</div>
	<script>
		var radioButtons = document.querySelector('paper-radio-group')
		var LBRoom
		var LBHouses = []
		
		$('.houseToggle').on("change", function() {		
			// if there are two toggles switched on then disable all the toggles that are off
			if ($('.houseToggle').attr("aria-pressed") == "true") {
//				console.log(this.attr("class"))
			}
		})
		
  		$('.saveButton').click(function() {
			var room = radioButtons.selected;
			if (room == 0) {
          			room = "Drama Studio"
                        	LBRoom = room
                	}
        		else if (room == 1) {
                		room = "Main Hall"
                        	LBRoom = room
        		}
        		else if (room == 2) {
                		room = "Sports Hall"
                                LBRoom = room
        		}
			console.log('You are in the ' + room);
			
			if ($('.behnToggle').attr('aria-pressed') == "true") {
				console.log('Behn is toggled')
				$('.behn').css('display','inline-block')
		                LBHouses.push("Behn")
			}
			if ($('.meitnerToggle').attr('aria-pressed') == "true") {
                        	console.log('Meitner is toggled')
		                $('.meitner').css('display','inline-block')
		                LBHouses.push("Meitner")
                	}
			if ($('.rorschachToggle').attr('aria-pressed') == "true") {
                        	console.log('Rorschach is toggled')
				$('.rorschach').css('display','inline-block')
		                LBHouses.push("Rorschach")
                	}
			if ($('.tinbergenToggle').attr('aria-pressed') == "true") {
                        	console.log('Tinbergen is toggled')
				$('.tinbergen').css('display','inline-block')
		                LBHouses.push("Tinbergen")
                	}

			$('#main').fadeIn()
			$('#lightbox').fadeOut()
  		})

        	behnscore = parseInt("{{Behn}}")
        	meitnerscore = parseInt("{{Meitner}}")
        	rorschachscore = parseInt("{{Rorschach}}")
        	tinbergenscore  = parseInt("{{Tinbergen}}")

        	$('.BehnScore').text(behnscore)
        	$('.MeitnerScore').text(meitnerscore)
        	$('.RorschachScore').text(rorschachscore)
        	$('.TinbergenScore').text(tinbergenscore)

        	io = io.connect()
        	io.emit('connection')

        	io.on('ScoreUpdate',function(data) {
        		// do something with data
               		console.log("Score Updated!")
	       		var House = data.House;
               		var Score = data.Score;
                	console.log(House);
	        	console.log(Score);
                	if (House == "Behn") {
                    		$(".BehnScore").innerHTML = "";
                    		$('.BehnScore').text(Score);
                	}
			else if (House == "Rorschach") {
                    		$(".RorschachScore").innerHTML = ""
                    		$('.RorschachScore').text(Score)
                	}
			else if (House == "Meitner") {
                    		$(".MeitnerScore").innerHTML = ""
                    		$('.MeitnerScore').text(Score)
                	} else if (House == "Tinbergen") {
                    		$(".TinbergenScore").innerHTML = ""
                    		$('.TinbergenScore').text(Score)
                	}
        	})

		io.on('LeaderboardUpdate',function(data) {
	     		leaderboard = data.LeaderBoard;

		   var letter = "";
		   var placenumber = 0;
		   var locallb = [];
		   var round = 1;

		   for (i=0; i < leaderboard.length; i++){
		       if (leaderboard[i].room == LBRoom){
		           if (leaderboard[i].house == LBHouses[0] || leaderboard[i].house == LBHouses[1]){
				 if (LBRoom == "Main Hall"){
				       console.log("Room Round is: " + data.roomround.Main_Hall[0])
    				       round = data.roomround.Main_Hall[0]
				 } else if (LBRoom == "Drama Studio"){
				       console.log("Room Round is: " + data.roomround.Drama_Studio[0])
				       round = data.roomround.Drama_Studio[0]
				 } else if (LBRoom == "Sports Hall"){
 				       console.log("Room Round is: " + data.roomround.Sports_Hall[0])
				       round = data.roomround.Sports_Hall[0]
				 }
				 if (round == 1){
				       locallb.push(leaderboard[i])
				       placenumber += 1; 
	 			       letter += "<li><h3>" + placenumber + ". " + leaderboard[i].teamname + "(" + leaderboard[i].house + "): " + leaderboard[i].r1 + "</h3></li>";
				 } else if (round == 2){
				       locallb.push(leaderboard[i])
			               placenumber += 1; 
	 			       letter += "<li><h3>" + placenumber + ". " + leaderboard[i].teamname + "(" + leaderboard[i].house + "): " + leaderboard[i].r2 + "</h3></li>";
				 } else if (round == 3){
				       locallb.push(leaderboard[i])
			               placenumber += 1; 
	 			       letter += "<li><h3>" + placenumber + ". " + leaderboard[i].teamname + "(" + leaderboard[i].house + "): " + leaderboard[i].r3 + "</h3></li>";
				 } else if (round == 4){
		       locallb.push(leaderboard[i])
			               placenumber += 1; 
	 			       letter += "<li><h3>" + placenumber + ". " + leaderboard[i].teamname + "(" + leaderboard[i].house + "): " + leaderboard[i].r4 + "</h3></li>";
				 } else if (round == 5){
				       locallb.push(leaderboard[i])
			               placenumber += 1; 
	 			       letter += "<li><h3>" + placenumber + ". " + leaderboard[i].teamname + "(" + leaderboard[i].house + "): " + leaderboard[i].r5 + "</h3></li>";
				 } else if (round == 6){
				       locallb.push(leaderboard[i])
			               placenumber += 1; 
	 			       letter += "<li><h3>" + placenumber + ". " + leaderboard[i].teamname + "(" + leaderboard[i].house + "): " + leaderboard[i].r6 + "</h3></li>";
				 }			      
			}
                    }
                }		
//locallb.sort(locallb[i].r1);
locallb.sort(function(a, b){return a-b});
				 console.log("Local After sort" + locallb)
				 console.log(locallb)
				 document.getElementById("teams").innerHTML = letter;
	
	});
	</script>
</html>


