<!DOCTYPE html>
<html>
<head>
    <title>Bourne Grammar School Quiz</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>  
	<div id="leaderboard">
		<!-- insert room filter dropdown here -->
		<ul id="teams">
			<!-- dynamically load teams here -->
		</ul>
	</div>                      
	<div id="scores">         
		<div class="behn">
                	<img src="images/behn.png">
                        <h2 class="BehnScore">300 <!-- insert house score here --></h2>
                </div>
     		<div class="meitner">
                  	<img src="images/meitner.png">
                        <h2 class="MeitnerScore">300 <!-- insert house score here --><h2>
             	</div>
                <div class="rorschach">
                      	<img src="images/rorschach.png">
                       	<h2 class="RorschachScore">600 <!-- insert house score here --><h2>
                </div>
                <div class="tinbergen">
                    	<img src="images/tinbergen.png">
                       	<h2 class="TinbergenScore">300 <!-- insert house score here --><h2>
                </div>
     	</div>
	<div id="video">
		<iframe src="http://www.youtube-nocookie.com/embed/lU69KPAiybo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>	
	</div> 
</html>
