<!DOCTYPE html>
<html>
<head>
    <title>Bourne Grammar School Quiz</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import"  href="components/paper-toggle-button/paper-toggle-button.html">
    <link rel="import" href="components/paper-radio-button/paper-radio-button.html">
    <link rel="import" href="components/paper-radio-group/paper-radio-group.html">
    <link rel="import"  href="components/paper-button/paper-button.html">
    <link rel="import"  href="components/core-splitter/core-splitter.html">
    <link rel="import" href="components/font-roboto/roboto.html">
    <script src="socket.io/socket.io.js"></script>
    <script>
         io = io.connect()
         io.emit('ready')
    </script>
</head>
<body unresolved>
	<div id="lightbox">
		<div id="settings">
		<h1>Configuration</h1>
		<h2>Which houses would you like to see totals for?</h2>
		<ul id="houseToggles">
			<li><h3>Behn: </h3><paper-toggle-button class="behnToggle"></paper-toggle-button></li>
			<li><h3>Meitner: </h3><paper-toggle-button class="meitnerToggle"></paper-toggle-button></li>
			<li><h3>Rorschach:</h3><paper-toggle-button class="rorschachToggle"></paper-toggle-button></li>
			<li><h3>Tinbergen: </h3><paper-toggle-button class="tinbergenToggle"></paper-toggle-button></li>
		</ul>
		<h2>Which room are you in?</h2>
		<paper-radio-group>
			<paper-radio-button class="roomRadio" label="Drama Studio"></paper-radio-button>
			<paper-radio-button class="roomRadio" label="Main Hall"></paper-radio-button>
			<paper-radio-button class="roomRadio" label="Sports Hall"></paper-radio-button>
		</paper-radio-group>
		<paper-button class="saveButton" raised>Save Settings</paper-button>
		</div>
	</div>
	<div id="leaderboard">
      <ul id="teams">
          <!-- dynamically load teams here -->
		  </ul>
  </div>
	<div id="scores">
		<div class="behn" id="Behn">
		    <div class="score-container">
            <img src="images/behn.png">
            <h2 class="BehnScore"></h2>
		    </div>
    </div>
     		<div class="meitner" id="Meitner">
		    <div class="score-container">
            <img src="images/meitner.png">
            <h2 class="MeitnerScore"><h2>
        </div>
		</div>
    <div class="rorschach" id="Rorschach">
        <div class="score-container">
          	<img src="images/rorschach.png">
           	<h2 class="RorschachScore"><h2>
		    </div>
    </div>
    <div class="tinbergen" id="Tinbergen">
        <div class="score-container">
			      <img src="images/tinbergen.png">
            <h2 class="TinbergenScore"><h2>
        </div>
		</div>
    </div>
	  <div id="video">
          <iframe src="http://www.youtube-nocookie.com/embed/lU69KPAiybo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
    </div>
<script>
	var toggles = document.querySelector('paper-toggle-button')
	var behnToggle = $('.behnToggle')
	var meitnerToggle = $('.meitnerToggle')
	var rorschachToggle = $('.rorschachToggle')
	var tinbergenToggle = $('.tinbergenToggle')
	var radioButtons = document.querySelector('paper-radio-group')
	var numberOfToggles = 0;

	var HousesOn = [];
var addhouse = function(house){
	      if (HousesOn[0] == house){
	        console.log("Removing " + house)
	        HousesOn.splice(0,1)
	        console.log(HousesOn)
	        return;
	      } 
	      if (HousesOn[1] == house){
	         console.log("Removing " + house)
	         HousesOn.splice(1,1)
	        console.log(HousesOn)	      
	         return;
	      }
	      if (HousesOn[0] != house && HousesOn[1] != house  && HousesOn.length < 2){
	         console.log("Turn on " + house);
	         HousesOn.push(house);
                 console.log(HousesOn)
                 return;
	      }
              if (HousesOn[0] != house && HousesOn[1] != house && HousesOn.length >= 2){
                 console.log("To many houses removing first one");
                 HousesOn.splice(0,1)
                 console.log(HousesOn)
                 console.log("Adding " + house)
                 HousesOn.push(house);
                 console.log(HousesOn)
                 return;
              }
}
	behnToggle.click(function() {
          addhouse("Behn");
})

	meitnerToggle.click(function() {
          addhouse("Meitner");
        })

	rorschachToggle.click(function() {
          addhouse("Rorschach");
        })

	tinbergenToggle.click(function() {
          addhouse("Tinbergen");
        })

  	$('.saveButton').click(function() {
		var room = radioButtons.selected;
		if (room == 0) {
          		room = "Drama Studio"
        	}
        	else if (room == 1) {
                	room = "Main Hall"
        	}
        	else if (room == 2) {
                	room = "Sports Hall"
        	}
		console.log('You are in the ' + room);
	        console.log("Houses On are : " + HousesOn);
	        for (i=0; i < HousesOn.length; i++){
			console.log(HousesOn[i]);
			document.getElementById(HousesOn[i]).style.visibility='visible';
			document.getElementById(HousesOn[i]).style.display='inline-block';
}

		$('#lightbox').fadeOut();
  	})

        behnscore = parseInt("{{Behn}}");
        meitnerscore = parseInt("{{Meitner}}");
        rorschachscore = parseInt("{{Rorschach}}");
        tinbergenscore  = parseInt("{{Tinbergen}}");

        $('.BehnScore').text(behnscore)
        $('.MeitnerScore').text(meitnerscore)
        $('.RorschachScore').text(rorschachscore)
        $('.TinbergenScore').text(tinbergenscore)

        io = io.connect()

        io.emit('connection')


        io.on('ScoreUpdate',function(data) {
        	// do something with data
               console.log("Score Updated!")
	       var House = data.House;
               var Score = data.Score;
                console.log(House);
	        console.log(Score);
                if (House == "Behn") {
                    $(".BehnScore").innerHTML = "";
                    $('.BehnScore').text(Score);
                } else if (House == "Rorschach") {
                    $(".RorschachScore").innerHTML = "";
                    $('.RorschachScore').text(Score);
                } else if (House == "Meitner") {
                    $(".MeitnerScore").innerHTML = "";
                    $('.MeitnerScore').text(Score);
                } else {
                    $(".TinbergenScore").innerHTML = "";
                    $('.TinbergenScore').text(Score);
                }
         });

	io.on('LeaderboardUpdate',function(data) {
	     leaderboard = data.LeaderBoard;
	     leaderboardscores = data.LeaderBoardScores;

	var letter = "";
	for (i=0; i < leaderboard.length; i++){
            letter += "<li><h3>" + (i+1) + ". " + leaderboard[i] + ": " + leaderboardscores[i] + "</h3></li>";
	}
	document.getElementById("teams").innerHTML = letter;

	});


</script>
</html>
