<html>
<head>
    <title>Bourne Grammar School Quiz</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="components/paper-toggle-button/paper-toggle-button.html">
    <link rel="import" href="components/paper-radio-button/paper-radio-button.html">
    <link rel="import" href="components/paper-radio-group/paper-radio-group.html">
    <link rel="import" href="components/paper-button/paper-button.html">
    <link rel="import" href="components/paper-dialog/paper-action-dialog.html">
    <link rel="import" href="components/google-youtube/google-youtube.html">
    <link rel="import" href="components/core-splitter/core-splitter.html">
    <link rel="import" href="components/core-toolbar/core-toolbar.html">
    <link rel="import" href="components/font-roboto/roboto.html">
    <script src="socket.io/socket.io.js"></script>
    <script>
        io = io.connect()
        io.emit('ready')

	function dynamicSort(property) {
    		var sortOrder = 1;
    		if(property[0] === "-") {
        		sortOrder = -1;
        		property = property.substr(1);
    		}
    		return function (a,b) {
        		var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
       			return result * sortOrder;
    		}
	}
    </script>
</head>
<body unresolved>
	<paper-action-dialog opened>
		<core-toolbar>
			<div>Configuration</div>
		</core-toolbar>
		<div id="settingsContent">
		<h2>Which houses would you like to see totals for?</h2>
		<ul id="houseToggles">
			<li><h3>Behn: </h3><paper-toggle-button class="behnToggle houseToggle"></paper-toggle-button></li>
			<li><h3>Meitner: </h3><paper-toggle-button class="meitnerToggle houseToggle"></paper-toggle-button></li>
			<li><h3>Rorschach:</h3><paper-toggle-button class="rorschachToggle houseToggle"></paper-toggle-button></li>
			<li><h3>Tinbergen: </h3><paper-toggle-button class="tinbergenToggle houseToggle"></paper-toggle-button></li>
		</ul>
		<h2>Which room are you in?</h2>
		<paper-radio-group>
			<paper-radio-button class="roomRadio" label="Drama Studio"></paper-radio-button>
			<paper-radio-button class="roomRadio" label="Main Hall"></paper-radio-button>
			<paper-radio-button class="roomRadio" label="Sports Hall"></paper-radio-button>
		</paper-radio-group>
		<paper-button class="saveButton" raised dismissive>Save Settings</paper-button>
		</div>
	</paper-action-dialog>
	<div id="main">
		<div id="leaderboard">
      			<ul id="teams">
          			<!-- dynamically load teams here -->
		 	</ul>
  		</div>
		<div id="scores">
			<div class="behn" id="Behn">
				<div class="score-container">
            				<img src="images/behn.png">
            				<h2 class="BehnScore"></h2>
		  		</div>
    			</div>
     			<div class="meitner" id="Meitner">
		    		<div class="score-container">
            				<img src="images/meitner.png">
            				<h2 class="MeitnerScore"><h2>
        			</div>
			</div>
    			<div class="rorschach" id="Rorschach">
        			<div class="score-container">
          				<img src="images/rorschach.png">
           				<h2 class="RorschachScore"><h2>
		    		</div>
    			</div>
    			<div class="tinbergen" id="Tinbergen">
        			<div class="score-container">
			      		<img src="images/tinbergen.png">
            				<h2 class="TinbergenScore"><h2>
        			</div>
			</div>
    	  	</div>
	  	<div id="video">
          		<google-youtube rel="0" videoid="Z8ZQd4QaAY4" chromeless width="100%" height="100%">
			</google-youtube>
    		</div>
	</div>
	<script>
		var radioButtons = document.querySelector('paper-radio-group')
		var LBRoom
		var LBHouses = []
		
		$('.houseToggle').on("change", function() {		
			// if there are two toggles switched on then disable all the toggles that are off
		})
		
  		$('.saveButton').click(function() {
			var room = radioButtons.selected;
			if (room == 0) {
          			room = "Drama Studio"
                        	LBRoom = room
                	}
        		else if (room == 1) {
                		room = "Main Hall"
                        	LBRoom = room
        		}
        		else if (room == 2) {
                		room = "Sports Hall"
                                LBRoom = room
        		}
			console.log('You are in the ' + room);
			
			if ($('html /deep/ .behnToggle').attr('aria-pressed') == "true") {
				console.log('Behn is toggled')
				$('.behn').css('display','inline-block')
		                LBHouses.push("Behn")
			}
			if ($('html /deep/ .meitnerToggle').attr('aria-pressed') == "true") {
                        	console.log('Meitner is toggled')
		                $('.meitner').css('display','inline-block')
		                LBHouses.push("Meitner")
                	}
			if ($('html /deep/ .rorschachToggle').attr('aria-pressed') == "true") {
                        	console.log('Rorschach is toggled')
				$('.rorschach').css('display','inline-block')
		                LBHouses.push("Rorschach")
                	}
			if ($('html /deep/ .tinbergenToggle').attr('aria-pressed') == "true") {
                        	console.log('Tinbergen is toggled')
				$('.tinbergen').css('display','inline-block')
		                LBHouses.push("Tinbergen")
                	}

			$('#main').css("visibility", "visible").hide().fadeIn()
  		})

        	behnscore = parseInt("{{Behn}}")
        	meitnerscore = parseInt("{{Meitner}}")
        	rorschachscore = parseInt("{{Rorschach}}")
        	tinbergenscore  = parseInt("{{Tinbergen}}")

        	$('.BehnScore').text(behnscore)
        	$('.MeitnerScore').text(meitnerscore)
        	$('.RorschachScore').text(rorschachscore)
        	$('.TinbergenScore').text(tinbergenscore)

        	io = io.connect()
        	io.emit('connection')

        	io.on('ScoreUpdate',function(data) {
	       		var House = data.House;
               		var Score = data.Score;
                	if (House == "Behn") {
                    		$(".BehnScore").innerHTML = "";
                    		$('.BehnScore').text(Score);
                	}
			else if (House == "Rorschach") {
                    		$(".RorschachScore").innerHTML = ""
                    		$('.RorschachScore').text(Score)
                	}
			else if (House == "Meitner") {
                    		$(".MeitnerScore").innerHTML = ""
                    		$('.MeitnerScore').text(Score)
                	} else if (House == "Tinbergen") {
                    		$(".TinbergenScore").innerHTML = ""
                    		$('.TinbergenScore').text(Score)
                	}
        	})

		io.on('LeaderboardUpdate',function(data) {
	     		leaderboard = data.LeaderBoard;

		   var letter = "";
		   var placenumber = 0;
		   var locallb = [];
		   var round = 1;

		   for (i=0; i < leaderboard.length; i++){
		       if (leaderboard[i].room == LBRoom){
		           if (leaderboard[i].house == LBHouses[0] || leaderboard[i].house == LBHouses[1]){
				 if (LBRoom == "Main Hall"){
    				       round = data.roomround.Main_Hall[0]
				 } else if (LBRoom == "Drama Studio"){
				       round = data.roomround.Drama_Studio[0]
				 } else if (LBRoom == "Sports Hall"){
				       round = data.roomround.Sports_Hall[0]
				 }
				 if (round == 1){
				       locallb.push(leaderboard[i])
	 			 } else if (round == 2){
				       locallb.push(leaderboard[i])
				 } else if (round == 3){
				       locallb.push(leaderboard[i])
				 } else if (round == 4){
				       locallb.push(leaderboard[i])
				 } else if (round == 5){
				       locallb.push(leaderboard[i])
				 } else if (round == 6){
				       locallb.push(leaderboard[i])
				 }			      
			}
                    }
                }		
		 if (round == 1){
			locallb.sort(dynamicSort("-r1"));
        	 	for (x=0; x < locallb.length; x++){
				placenumber += 1
				letter += '<li><h2>' + placenumber + '.</h2><h2 class="team">' + locallb[x].teamname + '</h2><h2 class="' + locallb[x].house + 'Label">' + locallb[x].house + '</h2><h2>' + locallb[x].r1 + '</h2></li>'
			}
	 	 } else if (round == 2){
    			placenumber += 1
                        locallb.sort(dynamicSort("-r2"));
                        for (x=0; x < locallb.length; x++){
                        	letter += '<li><h2>' + placenumber + '.</h2><h2 class="team">' + locallb[x].teamname + '</h2><h2 class="' + locallb[x].house + 'Label">' + locallb[x].house + '</h2><h2>' + locallb[x].r2 + '</h2></li>'
                        }
		} else if (round == 3){
                       	placenumber += 1
		        locallb.sort(dynamicSort("-r3"));
                        for (x=0; x < locallb.length; x++){
                              	letter += '<li><h2>' + placenumber + '.</h2><h2 class="team">' + locallb[x].teamname + '</h2><h2 class="' + locallb[x].house + 'Label">' + locallb[x].house + '</h2><h2>' + locallb[x].r3 + '</h2></li>'
                        }
		 } else if (round == 4){
			placenumber += 1
                        locallb.sort(dynamicSort("-r4"));
                        for (x=0; x < locallb.length; x++){
                        	letter += '<li><h2>' + placenumber + '.</h2><h2 class="team">' + locallb[x].teamname + '</h2><h2 class="' + locallb[x].house + 'Label">' + locallb[x].house + '</h2><h2>' + locallb[x].r4 + '</h2></li>'
                        }
		} else if (round == 5){
                        placenumber += 1
                        locallb.sort(dynamicSort("-r5"));
                        for (x=0; x < locallb.length; x++){
                        	letter += '<li><h2>' + placenumber + '.</h2><h2 class="team">' + locallb[x].teamname + '</h2><h2 class="' + locallb[x].house + 'Label">' + locallb[x].house + '</h2><h2>' + locallb[x].r5 + '</h2></li>'
                        }
		} else if (round == 6){
			placenumber += 1
                        locallb.sort(dynamicSort("-r6"));
                        for (x=0; x < locallb.length; x++){
                        	letter += '<li><h2>' + placenumber + '.</h2><h2 class="team">' + locallb[x].teamname + '</h2><h2 class="' + locallb[x].house + 'Label>"' + locallb[x].house + '</h2><h2>' + locallb[x].r6 + '</h2></li>'
                        }
		}			      

		document.getElementById("teams").innerHTML = letter;
	});
	</script>
</html>
