html,
body {
    height: 100%;
    overflow-y: hidden;
    }

* {
    margin: 0;
    padding: 0;
    }

a {
    text-decoration: none;
    }

#scores {
    width: 70%;
    height: 10%;
    font-size: 0;
    float: right;
    }

.behn h2 , .meitner h2 , .rorschach h2 , .tinbergen h2  {
    display: inline-block;
    font-family: sans-serif;
    color: #000000;
    font-size: 30px;
    margin-left: 10px;
    }

.behn img , .meitner img , .rorschach img , .tinbergen img {
    height: 80%;
    display: inline-block;    
    }

.behn, .meitner, .rorschach, .tinbergen  {
    height: 100%;
    width: 25%;
    display: inline-block;
}

.behn {
    background-color: #9C27B0;
}

.meitner {
    background-color: #EF6C00;
}

.rorschach {
    background-color: #4CAF50;
}

.tinbergen {
    background-color: #1565C0;
}

#leaderboard {
	width: 30%;
	height: 100%;
	background: #efefef;
	position: absolute;
	left: 0;
}

#leaderboard-room-select {
	width: 100%;
	height: 10%;
	font-size: 18pt;
}

#teams {
	height: 90%;
	overflow-y: scroll;
}

#teams li {
	width: 100%;
	font-size: 18pt;
}

#teams li h3 {
	padding: 10px;
}

#teams li:nth-child(2n){
	background-color: #efefef;
}

#teams li:nth-child(2n){
	background-color: #ffffff;
}

#video {
	width: 70%;
	height: 90%;
	position: absolute;
	right: 0;
	bottom: 0;
}

#video iframe {
	width: 100%;
	height: 100%;
}
