html,
body {
    height: 100%;
    overflow: hidden;
    }

* {
    margin: 0;
    padding: 0;
    }

a {
    text-decoration: none;
    }

#lightbox {
    background-color: rgba(3, 3, 3, 0.8);
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center; 
}

#settings {
    background-color: #ffffff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    padding: 20px;
}

#houseToggles li {
    list-style: none;
    font-family: 'RobotoDraft';
    text-align: left;
    display: flex;
}

paper-toggle-button.behnToggle::shadow paper-radio-button::shadow #ink[checked] {
    color: #9C27B0;
}

paper-toggle-button.behnToggle::shadow paper-radio-button::shadow #onRadio {
    background-color: #9C27B0;
}

paper-toggle-button.behnToggle::shadow #toggleBar[checked] {
    background-color: #9C27B0;
}

paper-toggle-button.meitnerToggle::shadow paper-radio-button::shadow #ink[checked] {
    color: #EF6C00;
}

paper-toggle-button.meitnerToggle::shadow paper-radio-button::shadow #onRadio {
    background-color: #EF6C00;
}

paper-toggle-button.meitnerToggle::shadow #toggleBar[checked] {
    background-color: #EF6C00;
}

paper-toggle-button.rorschachToggle::shadow paper-radio-button::shadow #ink[checked] {
    color: #4CAF50;
}

paper-toggle-button.rorschachToggle::shadow paper-radio-button::shadow #onRadio {
    background-color: #4CAF50;
}

paper-toggle-button.rorschachToggle::shadow #toggleBar[checked] {
    background-color: #4CAF50;
}

paper-toggle-button.tinbergenToggle::shadow paper-radio-button::shadow #ink[checked] {
    color: #1565C0;
}

paper-toggle-button.tinbergenToggle::shadow paper-radio-button::shadow #onRadio {
    background-color: #1565C0;
}

paper-toggle-button.tinbergenToggle::shadow #toggleBar[checked] {
    background-color: #1565C0;
}

paper-toggle-button {
    display: inline;
    margin: 0px 20px;
}

.saveButton {
    font-family: 'RobotoDraft';
    background-color: #F44336;
    color: #ffffff;
    display: block;
}

#scores {
    width: 75%;
    height: 10%;
    font-size: 0;
    float: right;
  }

.score-container {
    text-align: center;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
}

.score-container img {
    height: 80%;
    display: inline;
    float: left;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.behn h2, .meitner h2, .rorschach h2, .tinbergen h2 {
    font-size: 6vh;
    margin-left: 10px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    float: right;
    font-family: 'RobotoDraft'; 
    font-weight: 100;
}

.behn, .meitner, .rorschach, .tinbergen  {
    height: 100%;
    width: 25%;
    display: inline-block;
    text-align: center;
}

.behn {
    background-color: #9C27B0;
}

.meitner {
    background-color: #EF6C00;
}

.rorschach {
    background-color: #4CAF50;
}

.tinbergen {
    background-color: #1565C0;
}

#leaderboard {
    width: 25%;
    height: 100%;
    background: #efefef;
    position: absolute;
    left: 0;
}

#teams {
    height: 100%;
    overflow-y: auto;
}

#teams li h3 {
    padding: 10px;
    font-size: 18pt;
    font-family: 'RobotoDraft';
    font-weight: 100;
}

#teams li:nth-child(2n){
    background-color: #efefef;
}

#teams li:nth-child(2n){
    background-color: #ffffff;
}

#video {
    width: 75%;
    height: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#video iframe {
    width: 100%;
    height: 100%;
}
