html,
body {
    height: 100%;
    overflow-y: hidden;
    }

* {
    margin: 0;
    padding: 0;
    }

a {
    text-decoration: none;
    }

#scores {
    width: 75%;
    height: 10%;
    font-size: 0;
    float:right;
  }

.score-container {
    text-align: center;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
}

.score-container img {
    height: 80%;
    display: inline;
    float: left;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.behn h2, .meitner h2, .rorschach h2, .tinbergen h2 {
    font-size: 6vh;
    margin-left: 10px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    float: right;
    font-family: sans-serif; 
    font-weight: normal;
}

.behn, .meitner, .rorschach, .tinbergen  {
    height: 100%;
    width: 25%;
    display: inline-block;
    text-align: center;
}

.behn {
    background-color: #9C27B0;
}

.meitner {
    background-color: #EF6C00;
}

.rorschach {
    background-color: #4CAF50;
}

.tinbergen {
    background-color: #1565C0;
}

#leaderboard {
	width: 25%;
	height: 100%;
	background: #efefef;
	position: absolute;
	left: 0;
}

#teams {
	height: 100%;
	overflow-y: scroll;
}

#teams li {
	width: 100%;
	font-size: 18pt;
	font-family: sans-serif;
	font-weight: normal;
}

#teams li h3 {
	padding: 10px;
}

#teams li:nth-child(2n){
	background-color: #efefef;
}

#teams li:nth-child(2n){
	background-color: #ffffff;
}

#video {
	width: 75%;
	height: 90%;
	position: absolute;
	right: 0;
	bottom: 0;
}

#video iframe {
	width: 100%;
	height: 100%;
}
