<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Points Dashboard</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="staff/handlebars-v2.0.0.js"></script>
	<link rel="stylesheet" type="text/css" href="staff/style.css">
	
	console.log("{{Token}}")
</head>
<body>

<div id="container">
    <form action="/staffinput" method="post" >
      <input type="hidden" name="_csrf"  value="{{Token}}"/>
      <select id="teamname" name="teamname">
        <option>Team Name</option>
	<option value="add">+</option>
      </select>
      <span> have scored </span>
      <input type="text" id="score" name="score" maxlength="2" placeholder="8">
      <span> points for </span>
      <select id="house" name="house">
        <option value="house">their house</option>
        <option value="Behn">Behn</option>
        <option value="Meitner">Meitner</option>
        <option value="Rorschach">Rorschach</option>
        <option value="Tinbergen">Tinbergen</option>
      </select>
      <span> in round </span>
      <select id="round" name="round">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
      <span> in the </span>
      <select id="room" name="room">
        <option>Main Hall</option>
        <option>Sports Hall</option>
	<option>Drama Studio</option>
      </select>
      <button id="submit">Submit</button>
    </form>
  </div>
</body>


<script>

	string = "{{Team}}"
	console.log(string)
	var array = string.split(',');
	console.log(array)
	var letter = "";
	for (i=0; i < array.length; i++){
	    console.log(array[i]);
            letter += "<option value='" + array[i] + "'>" + array[i] + "</option>";
}
	letter += "<option value='add'>+</option>";
	document.getElementById("teamname").innerHTML = letter;



$("form").submit(function(e) {
    e.preventDefault(); // Prevents the page from refreshing
    var $this = $(this); // `this` refers to the current form element
    $.post(
        $this.attr("action"), // Gets the URL to sent the post to
       $this.serialize(), // Serializes form data in standard format
        function(data) { /** code to handle response **/ },
        "json" // The format the response should be in
    );
});

</script>
	<script src="staff/client.js"></script>

</html>
