<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<h1>Staff Input Page</h1>

<form action="/staffinput" method="get">
  <input type="hidden" name="_csrf"  value="bgsquiztoken"/>
Team: <input type="text" id="teamname" name="teamname"/>
Score: <input type="text" id="score" name="score"/>
House: <input type="text" id="house" name="house"/>
Room: <input type="text" id="room" name="room"/>
<input type="submit" value="Submit" id="Submit"/>



</form>






</body>
<script>
$("form").submit(function(e) {
    e.preventDefault(); // Prevents the page from refreshing
    var $this = $(this); // `this` refers to the current form element
    $.get(
        $this.attr("action"), // Gets the URL to sent the post to
       $this.serialize(), // Serializes form data in standard format
        //function(data) { /** code to handle response **/ },
        //"json" // The format the response should be in
    );
});
</script>
</html>
