html,
body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
      	padding: 0;
}

body {
	transition: all 2s;
      	-moz-transition: all 2s;
      	-webkit-transition: all 2s;
      	font-family: sans-serif;
      	width: 100%;
}

#container {
	text-align: center;
      	position: relative;
	top: 50%;
	transform: translateY(-50%);     	
      	font-size: 18pt;
	width: 100%;
      	padding: 50px 0px;
      	background-color: white;
}

#teamname {
	max-width: 20%;
}

select {
      	background: none;
      	border: none;
      	cursor: pointer;
      	border-bottom: 1px dotted gray;
      	font-size: 18pt;
      	font-family: sans-serif;
      	width: auto;
      	outline: none;
}

input {
      	border: none;
      	border-bottom: 1px dotted gray;
      	width: 40px;
      	background: none;
      	text-align: center;
      	font-size: 18pt;
      	font-family: sans-serif;
      	outline: none;
}

button {
      	padding: 5px 20px;
      	margin: 5px;
}
